#git-users-search {
  position: relative;
  margin-top: 50px;

  input {
    width: 100%;
  }

  #results {
    position: absolute;
    top: 70px;
    left: 0;
    max-height: 240px;
    overflow-y: auto;
    width: calc(100% - 15px);
    padding-left: 15px;

    img {
      max-height: 30px;
      margin-right: 5px;
    }
  }
}